@import '../variables.scss';

.MuiPaper-elevation4 {
    box-shadow: none !important;
}

.about-container {
    padding: 6rem;
    font-family: $global-font;

    h1 {
        font-size: 4rem;
        font-weight: 400;
        padding: 2rem 0;
    }

    .second-para {
        margin-top: 5rem;
    }

    .count-container {
        margin-top: 6rem;
        font-weight: bold;
    }

    .secondary {
        color: $secondary;
        font-weight: normal;
    }

    img {
        height: 550px;
        margin: 5rem 0;
    }

    .service-container {
        margin-top: 5rem;
    }

    .col-4 {
        h6 {
            font-weight: bold;
        }
    }

    @media (max-width: $desktop) {
        padding: 0;

        .secondary {
            font-size: 0.8rem;
        }

        img {
            height: auto;
        }

        .col-4 {
            padding-left: 0;
            padding-right: 0;
        }
    }
}