@import '../variables.scss';

.page-container {
    padding: 8rem;
    font-family: $global-font;

    h1 {
        font-size: 4rem;
        font-weight: 400;
    }

    .sub-category {
        display: flex;

        h6 {
            padding: 0 1rem;
        }

        .active {
            color: $gold;
        }
    }

    @media (max-width: $desktop) {
        padding: 0;

        .sub-category {
            border-top: 1px solid $secondary;
            border-bottom: 1px solid $secondary;
            margin-top: 1rem;
        }

        h1 {
            font-size: 3rem;
        }

        h6 {
            font-size: 0.8rem;
        }
    }

    .newsletter-container {
        margin: 3rem 0 3rem 0;
    }

    .form-inline {
        margin-top: 3rem;

        input {
            width: 50%;
            position: absolute;
            border: none;
            border-bottom: 1px solid $secondary;
            border-radius: 0;
    
        }
    
        svg {
            position: absolute;
            margin-left: 45%;
        }
    }
}