@import '../variables.scss';

* {
    margin: 0;
    padding: 0;
    font-family: $global-font;

    .work-container {
        background-image: url(../../img/works/background.jpg);
        height: 100vh;

        h1 {
            font-weight: bold;
        }

        img {
            padding: 3rem 3rem 1rem 0;

            &:hover {
                transform: scale(1.02);
                transition: all 0.2s ease-in;
                cursor: pointer;
            }
        }

        h5 {
            font-weight: bold;
        }

        @media (min-width: $tablet) {
            padding: 8rem;

            h1 {
                width: 50%;
            }
        }
    }
}