@import './variables.scss';

body {
    padding: 0;
    margin: 0;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(49, 49, 150, 0.3)), url(../img/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: $global-font;
    font-weight: bold;
    
    .homepage-container {
        color: $primary;

        .row {
            margin-right: 0;
            margin-left: 0;

            .col {
                margin-right: 0;
                margin-left: 0;
                border-bottom: 1px solid $secondary;

                .navbar {
                    padding: 4rem;
                    
                    .navbar-brand {
                        color: $primary;
                    }

                    .navbar-nav {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);

                        a {
                            margin: 0 2.5rem;
                            color: $primary;
                            font-size: 0.9rem;
                        }

                        .search-icon {
                            color: $primary;
                            position: absolute;
                        }
                        
                        .form-control {
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid $primary;
                            border-radius: 0;
                            padding: 0 0.5rem 0 1.5rem;
                            color: $primary;

                            &::placeholder {
                                color: $primary;
                                margin: 1rem;
                            }
                        }
                    }
                }

                @media (max-width: $desktop) {
                    border: none;

                    .navbar {
                        .navbar-nav {
                            position: unset;
                            left: 0;
                            transform: translateX(0);

                            a {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }

        .contents-container {
            .text-container {
                margin-top: 50%;

                h6 {
                    color: $primary;
                    margin: 2rem 0 2rem 0;
                }

                @media (max-width: $mobile) {
                    margin-top: 0;

                    h1 {
                        font-size: 5rem;
                    }
                }
            }

            .social-container {
                position: absolute;
                top: 30%;
                left: 90%;

                img {
                    height: 30px;
                    display: block;
                    margin: 2rem 0;
                }

                @media (max-width: $tablet) {
                    top: 0;
                    left: 0;

                    img {
                        display: inline;
                        margin: 2rem 2rem;
                    }
                }
            }
        }
    }
}